@import "../css/styles.css";

.hero::before {
  background-image: url("../img/about_hero.jpg");
  background-size: cover;
  background-attachment: unset;
}

.hero-content {
  line-height: 2.6rem;
}

.hero-btn {
  margin-top: 12rem;
}

.content-title {
  position: relative;
  margin: 0 auto;
  padding: 4rem 3rem;
}

.content-title::before {
  content: "";
  background-color: rgba(230, 226, 221, 1);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.card:nth-of-type(odd)::before {
  background-color: unset;
}

.card {
  padding-top: 5rem;
  padding-top: 5rem;
  text-align: left;
}

.card-content {
  margin-top: 0;
}

@media (min-width: 780px) {
  .hero::before {
    width: 50%;
    height: 100%;
    opacity: 1;
  }

  .hero-title::before {
    content: "";
    background-image: none;
  }

  .hero {
    margin-top: 8rem;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 160rem;
  }

  .hero-container {
    width: 45%;
    text-align: left;
  }

  .content-title {
    margin-top: 4rem;
  }

  .card {
    padding: 4rem 4rem;
    width: 100%;
  }

  .card-content {
    max-width: 120rem;
  }

  .cta-container {
    margin-top: 4rem;
  }
}
